@import "tailwindcss";

body{
  background-color: #323338;
}

@media screen and (max-width: 480px) {
  #flex-box h5 {
   font-size: medium;
   }
   #flex-box h1 {
   font-size: 1.4em;
   }
   #flex-box-span {
   display: inline-block;
   }
   #progress {
    display: inline-block;
    }
    #col {
      text-align: center;
      }
 }





